.container {
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  font-family: "Klee One", cursive;
  background: linear-gradient(
    133deg,
    rgb(255, 255, 255) 10%,
    rgb(213, 232, 249) 34%,
    rgb(248, 226, 220) 54%,
    rgb(249, 171, 189) 92%
  );
  max-width: fit-content;
}
h1 {
  margin: 20px;
}
.title {
  box-shadow: 3px 3px 10px #bf746f;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 40px;
  margin: 20px 20px;
}
.jpgclouds {
  border-radius: 10%;
  box-shadow: 3px 3px 10px #bf746f;
}
.choosecity,
.letsgobutton {
  margin: 10px 0px 40px 0px;
  font-size: 18px;
  font-weight: bold;
}
.choosecity {
  border: 2px solid #bf746f;
  padding: 5px 5px;
}
.letsgobutton {
  border-radius: 10%;
  border: 1px solid black;
}
.current-city-button {
  border-radius: 10%;
  border: 1px solid black;
}
.todaydetails {
  font-size: 30px;
  margin: 30px 30px;
}
.actualcity {
  font-size: 40px;
}
.nextdays {
  margin: 50px 20px;
  font-size: 18px;
}
.days {
  border: 1px solid #bf746f;
  padding: 20px 0px;
}
.weatheremoji {
  font-size: 22px;
}

.dayname {
  font-size: 20px;
}
.dailymessage {
  font-size: 25px;
  margin: 80px auto 50px auto;
  padding: 20px;
  max-width: 350px;
  display: block;
  text-align: center;
  box-shadow: 3px 3px 10px #bf746f;
  background: linear-gradient(
    133deg,
    rgb(255, 255, 255) 11%,
    rgb(251, 240, 237) 27%,
    rgb(213, 232, 249) 73%,
    rgb(246, 214, 221) 90%,
    rgb(251, 246, 247) 100%
  );
}
